<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "RailsShop", root_path, class:"navbar navbar-brand" %>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav col-md-6">
        <li><%= link_to "All Products", products_path %></li>
        <li><%= link_to "Cart", cart_path  %></li>
        <li><%= link_to "Link3", "/path3"  %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right col-md-1">
        <li class='no-padding'><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-xs btn-danger' %></li>
      </ul>
    </div>

  </div>
</div>
